@model DemoApp.Web.Models.Orders.CreateOrderViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label">User</label>
                <select asp-for="UserId" asp-items="Model.UsersList" class="form-control"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>

            @{
                int productIndexCounter = 0;
            }
            @foreach (var product in Model.ProductsList)
            {
                <div class="form-group">
                    <input type="hidden" name="Products[@productIndexCounter].Id" value="@product.Id">
                    @product.Name <input type="number" name="Products[@productIndexCounter].Amount" value="0" class="form-control">
                    @{
                        productIndexCounter++;
                    }
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script type="application/javascript">

    </script>
}